/* custom (base) node ------------------------------------*/
.node-box{
    backdrop-filter: blur(2px);
    min-height: 80px;
    min-width: 200px;
    
    background: linear-gradient(45deg, rgba(31, 197, 168, 0.6) 0%, rgba(87, 97, 178, 0.2) 95%, rgba(87, 97, 178, 0.8) 120%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -20px, rgba(0, 0, 0, 0.4) 0px 30px 60px -30px, rgb(255, 255, 255) 0px -2px 10px -3px inset;
  
    padding: 0.8rem;
    border: 2px solid rgba(111, 111, 111, 0.2);
    box-sizing: border-box; 
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    transition: 0.5s;
}
  
.node-box .title{
    font-size: 1.1rem;
    color: rgb(3, 104, 87);
    font-family: 'frutiger-bold';
}
  
.note-title{
    background:transparent;
    outline: none;
    border: none;
    padding: 1px;
  
    width: 235px;
}
  
.node-box:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 50px -30px, rgba(0, 0, 0, 0.4) 0px 50px 80px -25px, rgb(255, 255, 255) 0px -2px 10px 0px inset;
}
  
.color-input{
    border-radius: 5px;
    width: 25px;
    background-color: rgba(118, 237, 217, 0.408);
    border: 2px solid rgba(111, 111, 111, 0.2);
    align-self: flex-end;
}
  
.group-color-input{
    position: absolute;
    border-radius: 10px;
    border: 2px solid rgba(111, 111, 111, 0.2);
    background-color: rgba(118, 237, 217, 0.408);
    left: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    padding: none;
}
  
  
.text-box{
    pointer-events: all;
    line-height:1.2;
    padding: 8px;
    width:270px;
    font-size: 12px;
    resize: "none";
    overflow-y: hidden;
    overflow-x: hidden;
    resize: none;
    border-radius: 10px;
    border: 1px solid rgb(7, 151, 127);
  }
  
.text-box:focus{
    outline: none;
}
  
/* edge buttons ------------------------------------*/
  
.edge-btn{
    background-color: rgba(81, 185, 199, 0.8);
    padding: 5px;
    margin: 2px;
    border-radius: 20px;
    font-size: 10px;
    font-weight: 700;
    pointer-events: all;
    cursor: pointer;
    border: 1.5px solid rgba(111, 111, 111, 0.2);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 20px -10px, rgba(0, 0, 0, 0.4) 0px 5px 30px 0px, rgb(255, 255, 255) 0px -1px 5px 0px inset;
    transition: 0.8s;
}
  
.edge-btn:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.4) 0px 10px 20px -10px, rgb(255, 255, 255) 0px -1px 3px 0px inset;
}