
/* imports ------------------------------------*/
@font-face {
  font-family: 'frutiger';
  src: url('../public/fonts/Frutiger.ttf');
}

@font-face {
  font-family: 'frutiger-bold';
  src: url('../public/fonts/Frutiger_bold.ttf');
}